<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>RunCalc | Calculate everything</title>

</head>
<body>
<!-------- HEADER -------->
<header>
    <div class="header">
        <div id="options">
            <h1><span class="highlight">Run</span>Calc</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-------- User info -------->
<h1 th:text="Hey  + ${user.getFirstName()}"></h1>



    <div class="optionType">
        <p>Fill out this form and RunCalc will calculate your BMI and BMR, for more info about how we calculate this for
            you, check out our <a href="about">about</a> page.</p>
    </div>

    <div class="optionType">

        <form action="/home" method="post" th:object="${info}">

            <div class="optionType">
                <select name="userGender" required>
                    <option value="" selected disabled hidden>Gender</option>
                    <option th:each="userGender : ${T(com.app.runcalc.UserGender).values()}"
                            th:value="${userGender}" th:text="${userGender.displayValueGender}"></option>
                </select>
            </div>

              <div class="optionType">
              <p class="errorText" th:if="${#fields.hasErrors('age')}">Please fill out this field</p>
                <input th:errorclass="error" type="number" min="0" max="150" th:field="*{age}"
                        placeholder="Your age" required>
                  </div>

              <div class="optionType">
                  <p class="errorText" th:if="${#fields.hasErrors('height')}"> Please fill out this field</p>
                  <input th:errorclass="error" type="number"  th:field="*{height}"
                         placeholder="Your height in CM" required>
              </div>

              <div class="optionType">
                  <p class="errorText" th:if="${#fields.hasErrors('weight')}"> Please fill out this field</p>
                  <input th:errorclass="error" type="number" th:field="*{weight}"
                         placeholder="Your weight in kilo" required>
              </div>

            <div class="optionType">
                <select name="exerciseLevel" required>
                    <option value="" selected disabled hidden>Exercise level</option>
                    <option th:each="exerciseLevel : ${T(com.app.runcalc.ExerciseLevel).values()}"
                            th:value="${exerciseLevel}" th:text="${exerciseLevel.displayValueEl}"></option>
                </select>
            </div>



            <div class="optionType">
                <input class="continueButtons" type="submit" value="Continue">
            </div>



        </form>

        <h1 th:text="${calculations.getBmi()}"></h1>


    </div>

        <section id="footer">
            <h4>RunCalc, Copyright &copy; 2020 </h4>
        </section>

</body>
</html>