<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>RunCalc | Calculate everything</title>

</head>
<body>
<!-------- HEADER -------->
<header>
    <div class="header">
        <div id="options">
            <h1><span class="highlight">Run</span>Calc</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-------- User measurement -------->
<h1  th:text="'Hey ' + ${user.getFirstName()}"></h1>

<!--<h1 th:text="Results + ${calc()}"></h1>-->

    <div class="optionType">
        <p>Fill out this form and RunCalc will calculate your BMI and BMR, for more measurement about how we calculate this for
            you, check out our <a href="about">about</a> page.</p>
    </div>

    <div class="optionType">

        <form action="/home" method="post" th:object="${measurement}">



              <div class="optionType">
                  <p class="errorText" th:if="${#fields.hasErrors('height')}">Please fill out this field</p>
                  <input  th:errorclass="error" type="number"  th:field="*{height}"
                         placeholder="Your height in CM" required>
              </div>

              <div class="optionType">
                  <p class="errorText" th:if="${#fields.hasErrors('weight')}">Please fill out this field</p>
                  <input  th:errorclass="error" type="number" th:field="*{weight}"
                         placeholder="Your weight in kilo" required>
              </div>

            <div class="optionType">
                <select name="exerciseLevel" required>
                    <option value="" selected disabled hidden>Exercise level</option>
                    <option th:each="exerciseLevel : ${T(com.app.runcalc.ExerciseLevel).values()}"
                            th:value="${exerciseLevel}" th:text="${exerciseLevel.displayValueEl}"></option>
                </select>
            </div>

<!--            <div class="exerciseDescriptionContainer">-->
<!--                <button class="faq" onclick="exerciseDescription()">FAQ-->
<!--                </button>-->

                <div class="optionType">
                <input class="continueButtons" type="submit" value="Continue">
            </div>

        </form>





        
        <div class="speedCalculator">
            <p>Here is a speed calculator, fill in how fast you want to run a given distance and it will tell you how fast you need to run
            </p>
            <label>
                <input type="number" placeholder="Enter distance in meters">
            </label>
            <input type="number" placeholder="Enter hours">
            <input type="number" placeholder="Enter minutes">
            <input type="number" placeholder="Enter seconds">

            <div class="optionType">
                <input class="continueButtons" type="submit" value="Calculate">
            </div>
        </div>


<!--        <div class="optionType">-->
<!--            <p th:field="bmi">-->
<!--                placeholder="din BMI"-->
<!--            </p>-->
<!--        </div>-->

<!--        <td th:text="${calculations.getBmi} ?: 'UNKNOWN'"></td>-->


        <!--        <button onclick="myFunction()">Click Me</button>-->

<!--        <div id="myDIV">-->
<!--            <p th:text="${bmi}"> </p>-->
<!--        </div>-->

<!--        <p th:if="${bmi.isEmpty()}" class="calculationsText" th:text="'Din BMI'"></p>-->

    </div>

        <section id="footer">
            <h4>RunCalc, Copyright &copy; 2020 </h4>
        </section>

</body>
</html>