<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>RunCalc | Calculate everything</title>

</head>
<body>
<!-------- HEADER -------->
<header>
    <div class="header">
        <div id="options">
            <h1><span class="highlight">Run</span>Calc</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="logout.html">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>



<h1 th:text="${user.getFirstName()}"></h1>

<form action="/home">
    <label for="height">Your height: </label>
    <input type="text" id="height"
           height="height"><br><br>
    <label for="weight">Your weight: </label>
    <input type="text" id="weight"
           weight="weight"><br><br>
    <input type="submit" value="Save/calculate">

</form>


<p>
Calculate BMI press here;
</p>



<form action="/home" method="post">
    <input class="orangeButton" type="submit" value="Login">
</form>

<a href="/logout">Logout</a>



<footer>
    <p>RunCalc, Copyright &copy; 2020 </p>
</footer>
</body>
</html>