<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>RunCalc | Calculate everything</title>

</head>

<body>
<!-------- HEADER -------->
<header>
    <div class="header">
        <h1>RunCalc</h1>
    </div>
</header>

<!-------- INTRO -------->

<div class="introBilde">
    <img id="introimg" src="images/runningman.jpeg" alt="Introbilde">
</div>


<div class="introTekst">
    <p>RunCalc is a service that helps you achieve your running goals
    </p>
</div>

<!-------- LOGIN/SIGNUP -------->

<div class="containerLoginSignup">
    <div class="orangeButtonLog">
        <a class="textLogNy" href="/login">Login</a>
    </div>

    <div class="orangeButtonLog">
        <a class="textLogNy" href="/register">New User</a>
    </div>
</div>


</body>
</html>