<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RunCalc | Calculate everything</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" th:href="'stylesheet.css'">

</head>

<body>
<!-------- HEADER -------->

<header>
    <div class="header">
        <div id="options">
            <h1><span class="highlight">Run</span>Calc</h1>
        </div>
        <nav>
            <ul>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-------- FORM NEW USER -------->


<form th:object="${user}" action="/register" method="post">

    <a class="leftArrowAtag" href="/"><p id="arrowPtag">&#60;</p></a>

    <div class="formContainer">
        <div class="tekst">
            <p>Fill out your details below to make an account</p>
            <p class="dineDet">Your details</p>
        </div>


        <p class="errorText" th:if="${#fields.hasErrors('firstName')}">First Name must be between 3-30 characters</p>
        <input th:field="*{firstName}" th:errorclass="error" class="inputs" id="first" type="text"
               placeholder="First Name" autofocus>

        <p class="errorText" th:if="${#fields.hasErrors('lastName')}">Last Name must be between 3-30 characters</p>
        <input th:field="*{lastName}" th:errorclass="error" class="inputs" id="last" type="text"
               placeholder="Last Name">

        <div class="optionType">
            <select name="userGender" required>
                <option value="" selected disabled hidden>Gender</option>
                <option th:each="userGender : ${T(com.app.runcalc.UserGender).values()}"
                        th:value="${userGender}" th:text="${userGender.displayValueGender}"></option>
            </select>
        </div>


        <p class="errorText" th:if="${#fields.hasErrors('birthdate')}">Please fill in your birth date</p>
        <input th:field="*{birthdate}" th:errorclass="error" type="date">

        <p class="errorText" th:if="${#fields.hasErrors('email')}">Not a valid Email</p>
        <input th:field="*{email}" th:errorclass="error" type="text" placeholder="Email">

        <p class="errorText" th:if="${#fields.hasErrors('password')}">Password must be at least 6 characters long</p>
        <input th:field="*{password}" th:errorclass="error" class="inputs" type="password" placeholder="Password">

        <div class="checkboxRegistration">
            <div class="checkBoxCon">
                <input type="checkbox" required id="ToS" name="brukervilkaar" value="tos">
                <label class="" for="tos"> i approve <a href="#"
                                                        onclick="alert('Your data will not be used for any commercial use, if you want to delete your data please send us a mail at Runcalc@Runcalc.com');">ToS</a>
                    to use RunCalc</label>
            </div>

            <div class="checkBoxCon">
                <input type="checkbox" id="NL" name="newsletter" value="nl">
                <label for="nl"> Sign me up for newsletter</label>
            </div>
        </div>

        <div id="submitBox">
            <input class="orangeButton" type="submit" value="Continue">
        </div>
    </div>
</form>

<section id="footer">
    <h4>RunCalc, Copyright &copy; 2020 </h4>
</section>

</body>

</html>